<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>producto List</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>

<div class="container text-center mt-5">
    <div class="row">
        <div class="col-2"></div>

        <div class="col-8">

            <a sec:authorize="hasAuthority('ADMIN')"
               class="btn btn-info"
               th:href="@{/productos/new}">Create new producto</a>

            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Disponibilidad</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="producto: ${productos}" class="text-center">
                    <th>
                        <img th:src="${#strings.isEmpty(producto.imagen)}
                        ? 'https://dummyimage.com/640x360/fff/aaa'
                        : ${producto.imagen}"
                        class="img-fluid align-content-center" alt="Image">

                    </th>
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${#numbers.formatCurrency(producto.precio)}"></td>

                    <td>
                        <span th:if="${producto.pedido == null}" class="text-success">Available</span>
                        <span th:if="${producto.pedido != null}" class="text-danger">Unavailable</span>
                    </td>
                    <td>
                        <a class="btn btn-success"
                           sec:authorize="isAuthenticated()"
                           th:if="${producto.pedido == null}"
                           th:href="@{/carrito/add/{id}(id=${producto.id})}">Buy</a>
                    </td>


                </tr>
                </tbody>
            </table>


        </div>
        <div class="col-2"></div>
    </div>
</div>

<div th:replace="~{fragments :: footer}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>